<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Myk's Wiki</title>
</head>

<body>

  <div class="login-area">
	{% if username %}
		<a href="/_edit/{{ name }}" class="login-link">
      		edit
    	</a> |
		<a href="/_history/{{ name }}" class="login-link">
      		history
    	</a>
		
		{{ username }}(<a href="/logout" class="login-link">logout</a>)
	{% else %}
		<a href="/login?referer_val=/{{ name }}" class="login-link">
      		login
    	</a>
		<a href="/signup?referer_val=/{{ name }}" class="login-link">
      		signup
    	</a>
	{% endif %}
	
  </div>
	
  <hr>
  {% for version in versions %}
    <div class="version">
      <div class="page-title">{{version.created}} {{version.content|escape}}</div>
	  <a href="/_edit/{{ name }}" class="login-link">
      	edit
      </a> |
	  <a href="/{{ name }}" class="login-link">
      	view
      </a>
    </div>
  {% endfor %}
  
</body>

</html>

