<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Myk's Wiki</title>
</head>

<body>

  <div class="login-area">
	{% if username %}
		<a href="/_edit/{{ name }}" class="login-link">
      		edit
    	</a>
		{{ username }}(<a href="/logout" class="login-link">logout</a>)
	{% else %}
		<a href="/login?referer_val=/{{ name }}" class="login-link">
      		login
    	</a>
		<a href="/signup?referer_val=/{{ name }}" class="login-link">
      		signup
    	</a>
	{% endif %}
	
  </div>
	
  <div id="content">
  
  <div class="page">
  	<div class="page-content">
    	{{ content|escape }}
	</div>
   </div>
   <br><br>
  </div>
</body>

</html>

